html, body{
    margin: 0px;
    /* background: linear-gradient(#39bdc8,#59d4e8,#caa5f1,#fac0e1);  */
    background-color: #59d4e8;
    color: white;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#cpu-cartas, #jugador-cartas{
    height: 240px;
}